 html,
 body {
 	height: 100%;
 	margin: 0;
 }

 /* Garante que o body ocupe toda a altura da tela */
 body {
 	display: flex;
 	flex-direction: column;
 	min-height: 100vh;
 }

.content {
   	flex: 1;
}

.card.comprado {
    position: relative;
    overflow: hidden;
}

.card.comprado::before {
    content: "Produto Comprado";
    position: absolute;
    top: 35%; /* Centraliza verticalmente */
    left: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    transform: translateY(-50%); /* Ajusta o posicionamento vertical para centralizar */
    z-index: 1;
    box-sizing: border-box;
}

.card.comprado img {
    filter: blur(4px);
    transition: filter 0.3s ease-in-out;
}

.card.comprado:hover img {
    filter: blur(2px);
}

.header-image {
	background-image: url("../../img/Casamento_Gabriel_Barbara.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	min-height: 400px; /* Tamanho da altura semelhante ao bg-dark */
	display: flex;
	align-items: center; /* Centraliza verticalmente */
	justify-content: center; /* Centraliza horizontalmente */
	width: 100%;
}
/* Estilos para mobile */
@media (max-width: 576px) {
	.header-image {
		min-height: 140px; /* Ou  min-height: 250px; */
		background-size: contain;
		background-position: top; /* Faz a imagem se ajustar melhor no mobile */
	}
}

@media (max-width: 768px) {
    .card.comprado::before {
        font-size: 16px; /* Ajuste o tamanho da fonte para telas menores */
        padding: 8px 0;
    }
}
