html,
body {
	height: 100%;
	margin: 0;
}

/* Garante que o body ocupe toda a altura da tela */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

#img_url {
	background: #ddd;
	width: 6.25rem;
	height: 5.625rem;
	display: block;
}
